<script type="x/template" id="vue-item-image-carousel">
    <div itemscope itemtype="http://schema.org/Thing">
        <div id="single-image" class="" ref="single">
            <div v-for="image in singleImages.slice(0, 1)">                
                    <img class="img-fluid" :src="image.url" :alt="getAltText(image)" :title="getItemName()" itemprop="image">                
            </div>
        </div>        
    </div>
</script>
