<script type="x/template" id="vue-item-image-carousel">
  <div itemscope itemtype="http://schema.org/Thing">
    <img class="img-responsive" :data-src="image.url" :alt="getAltText(image)" :title="getItemName()" itemprop="image">
  </div>
</script>
